<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10095415638-e0o8v95buts4qagu6qqk9t2o5be0hqpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10095415638-e0o8v95buts4qagu6qqk9t2o5be0hqpn</string>
	<key>API_KEY</key>
	<string>AIzaSyBhoYnRt_pIQbEavlhtDWY3N171pl-to30</string>
	<key>GCM_SENDER_ID</key>
	<string>10095415638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firappuccino.Firappuccino-ExampleApp</string>
	<key>PROJECT_ID</key>
	<string>hilarist-authentication</string>
	<key>STORAGE_BUCKET</key>
	<string>hilarist-authentication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:10095415638:ios:4aa5cc494103b3cc6986f7</string>
	<key>ISS</key>
	<string>firebase-adminsdk-3gswh@hilarist-authentication.iam.gserviceaccount.com</string>
	<key>GCM_MESSAGE_ID_KEY</key>
	<string>gcm.message_id</string>
	<key>LEGACY_API_SERVER_KEY</key>
	<string>AAAAAlm70VY:APA91bHReDsmGJIIO2eP1s7ss10mjOzhDGUb0fVIEENPW3s0twlrhhJ64mGSgwnqvLkHGk7BkJkLa9B1_IT6nsUBO58VjvbYTMQtvgrKOHvylFOqbigHOZjbRt2LNbUfoS1zvE1Zv6t4</string>
	<key>DATABASE_URL</key>
	<string>https://hilarist-authentication.firebaseio.com</string>
	<key>DID_WALKTHROUGH_KEY</key>
	<string>didWalkThrough</string>
</dict>
</plist>
