name: Swift Package Develop Branch Workflow

on:
  push:
    branches:
      - "develop"
  pull_request:
    branches:
      - "main" 
    paths:
      - ".github/workflows/spm-test-develop.yml"

jobs:
  build:

    runs-on: macos-12

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
