name: Swift Package Release

on:
  push:
    branches:
      - "v0.1.0-alpha"
  pull_request:
    branches:
      - "v0.1.0-alpha" 
    paths:
      - ".github/workflows/spm-test-release.yml"
jobs:
  build:

    runs-on: macos-12

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
